{% extends 'base.html.twig' %}

{% block title %}
Differential
{% endblock %}

{% block body %}
<main class="frontpage">
    <a class="ctaLink" href="release.html">
        <div class="cta">
            <img src="images/tribalCTA.png" alt="Tribal EP" />
            Out now!
        </div>
    </a>
    <h1>Releases</h1>
    <div class="releases">
        <a class="release" href="release.html">
            <img src="images/tribal_cover.png" alt="Tribal">
            Tribal EP
        </a>
        <a class="release" href="release.html">
            <img src="images/outset_cover.jpg" alt="Outset">
            Outset EP
        </a>
    </div>
</main>
{% endblock %}