{% extends 'base.html.twig' %}

{% block title %}
Differential - Releases
{% endblock %}

{% block body %}
        <main class="releases">
            <h1>Releases</h1>
            <div class="grid">
                <a href="release.html">
                    <img src="images/tribal_cover.png" alt="Tribal">
                    <strong>Tribal EP</strong>
                    <span>Various Artists</span>
                </a>
                <a href="release.html">
                    <img src="images/outset_cover.jpg" alt="Outset">
                    <strong>Outset EP</strong>
                    <span>Various Artists</span>
                </a>
            </div>
        </main>
{% endblock %}
