{% extends 'base.html.twig' %}

{% block title %}
Differential - Roster
{% endblock %}

{% block body %}
        <main class="roster">
            <h1>Roster</h1>
            <div class="grid">
                <div>
                    <div class="overlay">
                        <img src="images/avatar.jpg">
                        <p>
                            Enter Dustkey: a newcomer in the DnB scene, ready to bring his a-game to the public.
                            A trained musician since his childhood, this Dutch producer excels in melodies and atmosphere and creates his tunes with heart.
                        </p>
                    </div>
                    <strong>Dustkey</strong>
                </div>
                <div>
                    <div class="overlay">
                        <img src="images/avatar.jpg">
                        <p>
                            Sam Hiscox, better known as Imba has been emerging onto the drum & bass scene for the last couple of years now. Spending the last few years quietly honing his production style by experimenting with many genres, and drawing influence from a multitude of artists such as Technimatic to Koan Sound, his diversity of creative input is apparent in his productions.
                        </p>
                    </div>
                    <strong>Imba</strong>
                </div>
                <div>
                    <div class="overlay">
                        <img src="images/avatar.jpg">
                        <p>
                            Querijn van Bijsterveldt AKA Leniz is a 15 year old DnB Producer. Querijn was already obsessed with music when he was 3 years old. He started producing music at the age of 12. In August 2017 he decided to start a new project called: Leniz. In this project he's shown his flexibility and musicality when producing, and he's quickly making waves in the scene. His productions have drawn the attention of artists like Flite, Muzzy, HumaNature and more.
                        </p>
                    </div>
                    <strong>Leniz</strong>
                </div>
                <div>
                    <div class="overlay">
                        <img src="images/avatar.jpg">
                        <p>
                            Petroll is a young producer from Groningen, the Netherlands. With a background in ambient music he combines atmospheric elements into his new songs, eager to discover the minimal and harder side of drum and bass.
                        </p>
                    </div>
                    <strong>Petroll</strong>
                </div>
                <div>
                    <div class="overlay">
                        <img src="images/avatar.jpg">
                        <p>
                            Rift is a talented producer from England. Having produced garage for quite some time and building up a unique skillset before switching over to Drum and Bass he's sure to deliver interesting melodies. Each and every one of his tracks is unique and is sure to take you on a ride.
                        </p>
                    </div>
                    <strong>Rift</strong>
                </div>
                <div>
                    <div class="overlay">
                        <img src="images/avatar.jpg">
                        <p>
                            SiLi is a hugely talented artist from Switzerland having released on Soul Deep Recordings and RustOut Records, and some banging individual releases. He blends breathtaking melodies with deep basslines to create a unique, laidback style.
                        </p>
                    </div>
                    <strong>SiLi</strong>
                </div>
            </div>
        </main>
{% endblock %}
