{% extends 'base.html.twig' %}

{% block title %}
Differential
{% endblock %}

{% block body %}
<main class="frontpage">
    <h1>About Differential</h1>
    <p>
        Differential is cool shit.
    </p>
</main>
{% endblock %}