.releases {
	.grid {
		display: flex;
		flex-wrap: wrap;
		a {
			display: block;
			width: 20%;
			margin-right: 2em;
			text-align: center; text-decoration: none;
			color: #000000;
			font-family: arial, helvetica, sans-serif;

			img {
				width: 100%;
			}

			strong {
				display: block;
				text-align: center;
				font-family: Signika;
			}
		}
	}
}
@media (max-width: 1200px) {
	.releases {
		.grid {
			a {
				width: 30%;
			}
		}
	}
}

@media (max-width: 768px) {
	.releases {
		.grid {
			display: block;
			a {
				width: 70%;
				margin: auto; margin-bottom: 2em;

				strong {
					margin-top: .5em;
				}
			}
		}
	}
}