{% extends 'base.html.twig' %}

{% block title %}Edit album{% endblock %}

{% block body %}
    <h1>Edit album</h1>

    {{ include('album/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('album_index') }}">back to list</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}